body{
	background-image: url("/wood.jpg");
	background-size: cover;
}

#image{
	
	
	position: absolute; /* or absolute */
  	text-align: center;
  	top: 25%;
  	left: 30%;
}
img{

	max-height: 500px;
	max-width: 500px;
	min-width: 500px;
	min-height: 500px;
}
.button-holder{
	
	display: inline-block;
	 position: absolute; /* or absolute */
	 left: 42%;

  
}

.button-form{
	display: inline-block;
	

}
